body {
    background: #f2f2f2;
    font-family: 'Be Vietnam', sans-serif;
}

nav.topbar {
    border-bottom: 3px solid #000;
    background: #FFC900;
}

nav.topbar-admin {
    border-bottom: 3px solid #FFC900;
}

.card-deck .card {
    width: 100%;
}
.card-deck .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-deck .card .star-ratings {
    display: block !important;
}

.card-deck ul {
    width: 100%;
    margin: 0;
    text-align: center;
}
.card-deck ul, .card-deck ul li {
    padding: 0;
    display: inline-block;
}
.card-deck li {
    list-style: none;
    width: 25%;
    margin: 0 20px 60px 20px;
}
.card-deck li .card-title {
    height: 56px;
}

@media only screen and (max-width: 760px) {
    .card-deck li {
      width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .card-deck li {
      width: -webkit-fill-available;
    }
}